{{>wave-up}}
<section id="contact " class="contact container-fluid bg-dark text-white py-3 ">

    <address class="row text-center ">
        <div class="other-contacts col-md-6 ">
            <p>Danuta Pendel</p>
            <p><strong>Numer telefonu:</strong> 510803685</p>
            <p><strong>E-mail:</strong> danutap56@wp.pl</p>
        </div>
        <div class="social-media col-md-6">
            <a href="https://www.facebook.com/danuta.pendel.7 " class="mx-2" target="_blank "
               rel="noopener noreferrer "><i
                    class="fab fa-facebook "></i></a>
            <a href="https://www.instagram.com/dankapendel/ " class="mx-2" target="_blank "
               rel="noopener noreferrer "> <i
                    class="fab fa-instagram "></i></a>
        </div>
    </address>
    <h2 style="text-align: center" class="mb-5p display-6">Napisz do nas</h2>
    <form action="/contact" class="col-10 col-md-6 mx-auto " method="post">
        <div>
            <label for="emailInput" class="form-label">Email</label>
            <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
                   placeholder="Wpisz e-mail...">
        </div>
        <div>
            <label for="subjectInput" class="form-label">Tytuł</label>
            <input type="text " class="form-control" id="subjectInput" aria-describedby="subjectHelp"
                   placeholder="Wpisz tytuł...">
        </div>
        <div>
            <label for="textareaInput" class="form-label">Wiadomość</label>
            <textarea class="form-control" id="textareaInput" rows="5" wrap="soft"
                      placeholder="Wpisz wiadomość..."></textarea>
        </div>
        <button type="submit" class="btn btn-light">Wyślij
        </button>
    </form>
    <!--    aby użyć modalu wklej to do przycisku: data-bs-toggle="modal" data-bs-target="#staticBackdrop"-->

    <!--    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"-->
    <!--         tabindex="-1"-->
    <!--         aria-labelledby="staticBackdropLabel" aria-hidden="true">-->
    <!--        <div class="modal-dialog">-->
    <!--            <div class="modal-content">-->
    <!--                <div class="modal-header">-->
    <!--                    <h5 class="modal-title" id="staticBackdropLabel">Dziękujemy!</h5>-->
    <!--                    <button type="button" class="btn-close btn-light" data-bs-dismiss="modal"-->
    <!--                            aria-label="Close"></button>-->
    <!--                </div>-->
    <!--                <div class="modal-body">-->
    <!--                    Twoja wiadomość została wysłana.-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

</section>
{{>wave-down}}