{{>wave-up}}
<section id="gallery" class="my-carousel gallery container-fluid bg-dark text-white">
    <h1 class="text-center display-3">Galeria</h1>
    <div class="py-2 row text-center flex-wrap">

        <a class="col-sm-6 col-md-4 col-lg-3" target="_blank" rel="nofollow noreferrer"
           href="./assets/gallery1.jpg"
           data-toggle="lightbox">

            <img src="./assets/gallery-thumb1.jpg " class="img-fluid my-lightbox-toggle">
        </a>

        <a class="col-sm-6 col-md-4 col-lg-3" target="_blank" rel="nofollow noreferrer" href="./assets/gallery2.jpg "
           data-toggle="lightbox"
           data-gallery="example-gallery "
        >
            <img src="./assets/gallery-thumb2.jpg " class="img-fluid my-lightbox-toggle">
        </a>


        <a class="col-sm-6 col-md-4 col-lg-3" target="_blank" rel="nofollow noreferrer" href="./assets/gallery3.jpg "
           data-toggle="lightbox"
           data-gallery="example-gallery "
        >
            <img src="./assets/gallery-thumb3.jpg " class="img-fluid my-lightbox-toggle">
        </a>

        <a class="col-sm-6 col-md-4 col-lg-3" target="_blank" rel="nofollow noreferrer" href="./assets/gallery4.jpg "
           data-toggle="lightbox"
           data-gallery="example-gallery "
        >
            <img src="./assets/gallery-thumb4.jpg " class="img-fluid my-lightbox-toggle ">
        </a>


        <a class="col-sm-6 col-md-4 col-lg-3" target="_blank" rel="nofollow noreferrer" href="./assets/gallery5.jpg "
           data-toggle="lightbox"
           data-gallery="example-gallery "
        >
            <img src="./assets/gallery-thumb5.jpg " class="img-fluid my-lightbox-toggle ">
        </a>


        <a class="col-sm-6 col-md-4 col-lg-3" target="_blank" rel="nofollow noreferrer" href="./assets/gallery6.jpg "
           data-toggle="lightbox"
           data-gallery="example-gallery "
        >
            <img src="./assets/gallery-thumb6.jpg " class="img-fluid my-lightbox-toggle ">
        </a>


        <a class="col-sm-6 col-md-4 col-lg-3" target="_blank" rel="nofollow noreferrer" href="./assets/gallery7.jpg "
           data-toggle="lightbox"
           data-gallery="example-gallery "
        >
            <img src="./assets/gallery-thumb7.jpg " class="img-fluid my-lightbox-toggle ">
        </a>


        <a class="col-sm-6 col-md-4 col-lg-3" target="_blank" rel="nofollow noreferrer" href="./assets/gallery8.jpg "
           data-toggle="lightbox"
           data-gallery="example-gallery "
        >
            <img src="./assets/gallery-thumb8.jpg " class="img-fluid my-lightbox-toggle ">
        </a>


        <a class="col-sm-6 col-md-4 col-lg-3" target="_blank" rel="nofollow noreferrer" href="./assets/gallery9.jpg "
           data-toggle="lightbox"
           data-gallery="example-gallery ">
            <img src="./assets/gallery-thumb9.jpg " class="img-fluid my-lightbox-toggle ">
        </a>


        <a class="col-sm-6 col-md-4 col-lg-3" target="_blank" rel="nofollow noreferrer" href="./assets/gallery10.jpg "
           data-toggle="lightbox"
           data-gallery="example-gallery ">
            <img src="./assets/gallery-thumb10.jpg " class="img-fluid my-lightbox-toggle ">
        </a>


        <a class="col-sm-6 col-md-4 col-lg-3" target="_blank" rel="nofollow noreferrer" href="./assets/gallery11.jpg "
           data-toggle="lightbox"
           data-gallery="example-gallery ">
            <img src="./assets/gallery-thumb11.jpg " class="img-fluid my-lightbox-toggle ">
        </a>


        <a class="col-sm-6 col-md-4 col-lg-3" target="_blank" rel="nofollow noreferrer" href="./assets/gallery12.jpg "
           data-toggle="lightbox"
           data-gallery="example-gallery ">
            <img src="./assets/gallery-thumb12.jpg " class="img-fluid my-lightbox-toggle ">
        </a>


    </div>

</section>
{{>wave-down}}