<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner pt-3">
        <div class="carousel-item active">
            <img src="./assets/carousel11.jpg" class="d-block w-sm-100 w-md-75" alt="cat1">
            <div class="carousel-caption d-lg-block">
                <h2 class="display-3">Miki Mimi</h2>
                <h2 class="display-6">Hodowla kotów rasy Sfinks</h2>
            </div>
        </div>
        <div class="carousel-item">
            <img src="./assets/carousel22.jpg" class="d-block w-sm-100 w-md-75" alt="cat2">
            <div class="carousel-caption d-lg-block">
                <h2 class="display-3">Miki Mimi</h2>
                <h4 class="display-6">Hodowla kotów rasy Sfinks</h4>
            </div>
        </div>
        <div class="carousel-item">
            <img src="./assets/carousel33.jpg" class="d-block w-sm-100 w-md-75" alt="cat3">
            <div class="carousel-caption d-lg-block">
                <h2 class="display-3">Miki Mimi</h2>
                <h4 class="display-6">Hodowla kotów rasy Sfinks</h4>
            </div>
        </div>
    </div>
</div>
{{>wave-up}}
<section id="about-me" class="about-me container-fluid py-4 bg-dark text-white">
    <!-- <h1 class="mb-5">O nas</h1> -->
    <div class="row">
        <div class="m-auto col-lg-4 col-md-6">
            <h2 class="mb-5 display-6">Nasze koty</h2>
            <p>
                Hodowla Miki Mimi powstała dzięki naszej ogromnej fascynacji rasą sfinks kanadyjski. Jesteśmy
                wielbicielami tych pięknych i niesamowicie oryginalnych oraz nieprzeciętnie inteligentnych zwierząt.
                Przedstawiciele rasy które z nami mieszkają są domownikami
                i członkami naszej rodziny. Koty przez nas hodowane mają wybitnych przodków pochodzących z renomowanych
                hodowli.
            </p>
            <p>
                Przynależymy do Polskiej Federacji Felinologicznej "Felis Polonia" (FPL) podlegającej Federation
                Inernationale Feline. Rodowody naszych kotow i kociąt są opatrzone logo Fife i honorowane przez
                wszystkie organizacje felinologiczne na całym świecie.
            </p>
        </div>
        <div class="col-lg-6 col-md-6 my-auto">
            <img src="./assets/about-me.jpg" class="img-fluid card-img-top d-block col-8" alt="cat-photo">
        </div>
    </div>
</section>
{{>wave-down}}
