{{>wave-up}}
<section class="cats-content">
    <h2 class="text-center display-6">Już wkrótce pojawią się zdjęcia małych kotów</h2>

    <div class="wrap w-md-75 container">
        <img src="./assets/cats.jpg" class="img-fluid card-img-top d-block col-8" alt="cat-photo">
    </div>

    <!--Odkomentować, gdy pojawią się zdjęcia małych kotów-->

    <!--<div class="container-fluid m-2 text-center">-->
    <!--    <div class="card w-25">-->
    <!--        <img src="./assets/cats2.jpg" class="card-img-top" alt="...">-->
    <!--        <div class="card-body">-->
    <!--            <h5 class="card-title">Imię kota</h5>-->
    <!--            <p class="card-text">Opis kota</p>-->
    <!--            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Zobacz-->
    <!--            </button>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
    <!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
    <!--    <div class="modal-dialog">-->
    <!--        <div class="modal-content">-->
    <!--            <div class="modal-header">-->
    <!--                <h5 class="modal-title" id="exampleModalLabel">Imię kota</h5>-->
    <!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
    <!--            </div>-->
    <!--            <div class="modal-body">-->
    <!--                <img src="./assets/cats2.jpg" class="card-img-top" alt="...">-->
    <!--            </div>-->

    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
</section>
{{>wave-down}}